.detail__container {
  background-color: #ededed;
  height: 100%;
  width: 100%;
}

.detail__contanier-search {
  background-color: #fff;
  height: calc(100% - 70px);
  margin: 0 auto;
  margin-top: -94px;
  overflow: auto;
  width: 70%;
}

.detail__container-img {
  align-content: space-around;
  display: flex;
}

.detail__container-price-name-product {
  margin: 20px;
}

.detail__container-description {
  margin-bottom: 20px;
  margin-left: 30px;
  width: 70%;
}