.cmp-text__container {
  font-family: "Ubuntu Mono", monospace;
  font-size: 12px;
  height: 40px;
  width: 70%;
}

.cmp-text__container-form {
  width: 100%;
}

.cmp-text__text-form {
  border-radius: 5px;
  height: 30px;
  width: 100%;
}