.home__container {
  background-color: #ededed;
  height: 100%;
  width: 100%;
}

.home__contanier-search {
  background-color: #fff;
  height: calc(100% - 70px);
  margin: 0 auto;
  overflow: auto;
  width: 70%;

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.home__elements {
  display: grid;
  grid-template-columns: 210px auto 150px;
  padding: 20px 50px 20px 0;
}

.home__link {
  color: #333;
  text-decoration: none;
}

.home__elements-details {
  height: 100%;
  width: 100%;
}

.home__elements-label-value {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  margin: 10px 0px;
}

.home__available {
  text-align: end;
}